.validation-content {
    flex: 1 1 auto;
    margin-left: 10px;
    border-left: 1px solid black;
    padding-left: 10px;

    overflow: hidden;
    position: relative;

    > section {
        transition: opacity 1s;
    }
}

.validation-content.init > section {
    transition-duration: 0s;
}

.noselect-img {
    background-image: url('../icons/question_mark.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50%;
    transform: translateX(-50%);
}

.validation-content__header {
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 10px;
}

.validation-content__header.valid {
    background: linear-gradient(0deg, green, transparent);
}

.validation-content__header.invalid {
    background: linear-gradient(0deg, red, transparent);
}

@keyframes swell-and-return-1 {
    from { transform: scale(1); }
    50% { transform: scale(1.2); }
    to { transform: scale(1); }
}

@keyframes swell-and-return-2 {
    from { transform: scale(1); }
    50% { transform: scale(1.2); }
    to { transform: scale(1); }
}

.val-rule__mark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 auto;

    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

.val-rule__mark.valid {
    background-image: url('../icons/validation-tick-valid.png');
    animation-name: swell-and-return-1;
    animation-play-state: running;
}

.val-rule__mark.invalid {
    background-image: url('../icons/validation-tick-invalid.png');
    animation-name: swell-and-return-2;
    animation-play-state: running;
}

.val-rule {
    align-items: center;
    display: flex;
}

.val-rule + .val-rule {
    margin-top: 5px;
}

.val-rule__text {
    margin-left: 5px;
}

.hidden {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
}
